@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  font-family: "Questrial", sans-serif;
} */

* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

body {
  padding: 0px;
  margin: 0;
  background-color:rgb(250,250,250);
}



.page-container {
  position: relative;
  min-height: 100vh;
}

.navbar {
  background-color:rgb(66,155,147);
  position: sticky;
}

.button {
  background-color: rgb(66,155,147);
  border: none;
}



.image {
  height: 60%;
  width: 60%;
}


.form-control {
  margin: 20px 20px 150px 20px;
}

.form-control label {
  display: block;
  font-size: 13px;
  color: black;
}

.form-control input, select {
  width: 100%;
  height: 40px;
  margin: 5px 0px 25px 0px;
  padding: 3px 7px;
  font-size: 14px;
  font-family: inherit;
  border: 1px solid rgb(66,155,147);
  border-radius: 5px;
}

.radio-container input, select {
  height: 20px;
  padding: 0px;
  margin: 0px;
}
.radio-container {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 30px;
  margin: 0;
   outline: 0;
  overflow: hidden;
  padding: 0;
 display: flex;
 gap: 32px;
 padding-bottom: 16px;
}


.parentContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: 10px;
 

}

.container {
display: block;
width: 100%;
height: 24rem;
}


@media only screen and (min-width: 768px) {
  /* For desktop: */

.navbar {
padding: 0 4rem;
}

.image {
  height: 100%;
  width: 100%;
}

.form-control {
  margin: 20px 60px 150px 60px;
}

}