@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: 'Questrial', sans-serif;
     
}
    

  body {
    width: 100vw;
    padding: 0;
    position: fixed;
    margin: 0;
    /* margin: 1%; */
    
}

.navbarContainer {
    background-color: rgb(191, 243, 200, .6);
   
    
    
    padding: 10px;
}

h1 {
    color: #015b42;
}

.btn {
    background:#015b42;
   
    color: white;
    
   
    border-radius: 6.5px;

}

.btn2 {
    background: rgb(191, 243, 200, .6);
   
    color: #015b42;
    
   
    border-radius: 6.5px;

}